[submodule "External/SGHotKeysLib"]
	path = External/SGHotKeysLib
	url = https://github.com/secondgear/SGHotKeysLib.git
[submodule "External/DDHotKey"]
	path = External/DDHotKey
	url = https://github.com/davedelong/DDHotKey.git
[submodule "External/DBPrefsWindowController"]
	path = External/DBPrefsWindowController
	url = https://github.com/InScopeApps/DBPrefsWindowController.git
[submodule "External/SNRLastFMEngine"]
	path = External/SNRLastFMEngine
	url = git@github.com:jsheets/SNRLastFMEngine.git
[submodule "External/ShortcutRecorder"]
	path = External/ShortcutRecorder
	url = https://github.com/hexa2k9/ShortcutRecorder.git
[submodule "External/yrk-spinning-progress-indicator"]
	path = External/yrk-spinning-progress-indicator
	url = https://github.com/kelan/yrk-spinning-progress-indicator.git
[submodule "External/ValidateStoreReceipt"]
	path = External/ValidateStoreReceipt
	url = https://github.com/roddi/ValidateStoreReceipt.git
[submodule "FringeFM"]
	path = FringeFM
	url = git@github.com:jsheets/FringeFM.git
