[submodule "External/SGHotKeysLib"]
	path = External/SGHotKeysLib
	url = https://github.com/secondgear/SGHotKeysLib.git
[submodule "External/DDHotKey"]
	path = External/DDHotKey
	url = https://github.com/davedelong/DDHotKey.git
[submodule "External/DBPrefsWindowController"]
	path = External/DBPrefsWindowController
	url = https://github.com/InScopeApps/DBPrefsWindowController.git
[submodule "External/SNRLastFMEngine"]
	path = External/SNRLastFMEngine
	url = https://github.com/indragiek/SNRLastFMEngine.git
