#header {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
	
	text-align: center;
}

#header2 {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
	
	text-align: center;
}

#main {
	margin: 5% 15%
}

#features {
/* 	margin: 5% 15% */
}

#sections div {
	margin: 5% 5%
}

#faq {
}

#coming-soon {
/* 	margin: 5% 15% */
}

img#appicon {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

body {
	text-shadow: 1px 0px #818181;
	font-family: sans-serif;
}
h1 {
}

h2 {
}

p {
}